html {
    height: 100%;
    width: 100%;
}
body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.all-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        "question question" 70%
        "l_button r_button" 10%
        "a_button a_button" 10%
        "ad ad" 10%
        /50% 50%;
}
#quiz{
    grid-area: question;
    overflow:auto;
}
#previous{
    grid-area: l_button;
}
#next{
    grid-area: r_button;
}
#submit{
    grid-area: a_button;
}
#results{
    grid-area: ad;
}